body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background: linear-gradient(135deg, #4facfe, #00f2fe);
}

.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper {
  width: 420px;
}

.title {
  color: white;
  text-align: center;
  margin-bottom: 25px;
}

.card {
  background: white;
  padding: 30px;
  border-radius: 20px;
  text-align: center;
  box-shadow: 0 10px 40px rgba(0,0,0,0.3);
}

input {
  width: 100%;
  padding: 12px;
  margin: 12px 0;
  border-radius: 10px;
  border: 1px solid #ccc;
}

.btn {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 10px;
  background: linear-gradient(45deg, #ff512f, #dd2476);
  color: white;
  font-weight: bold;
  cursor: pointer;
}