body {
  margin: 0;
  font-family: Arial;
  background: linear-gradient(135deg, #6a11cb, #2575fc);
}

.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  background: white;
  padding: 30px;
  border-radius: 12px;
  width: 300px;
  text-align: center;
  box-shadow: 0 8px 20px rgba(0,0,0,0.2);
}

input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
}

button {
  padding: 10px;
  width: 100%;
  background: #2575fc;
  color: white;
  border: none;
  cursor: pointer;
}